<html ng-app="morseApp">
    <head>
        <title>Cheap Morse</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-touch.js"></script> -->
        <script src="app.js"></script>        
        <!-- (from: https://stackoverflow.com/a/10614533/2885946) -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div ng-controller="morseCtrl">
            <a ng-if='isTouchMode' my-touchstart='mousedown($event)' my-touchend='mouseup($event)' class='morse_button' ng-class="{box_shadow: !isPussing}"></a><br>
            <a ng-if='!isTouchMode' ng-mousedown='mousedown($event)' ng-mouseup='mouseup($event)' class='morse_button' ng-class="{box_shadow: !isPussing}"></a><br>
            Short threshold:<input type="number" ng-model="shortThreshold"><br>
            Long threshold:<input type="number" ng-model="longThreshold"><br>
            Letter threshold:<input type="number" ng-model="letterThreshold"><br>
            Word threshold:<input type="number" ng-model="wordThreshold">
            <input type="checkbox" ng-model="enableWordThreshold"><br>
            Touch mode: <input type="checkbox" ng-model="isTouchMode"><br>            
            Cursor    : <input type="checkbox" ng-model="enableCursor"><br>
            Debug mode: <input type="checkbox" ng-model="isDebugMode"><br>            
            Average short: {{shortMilliAvg()}}ms<br>
            Average long: {{longMilliAvg()}}ms<br>            
            Latest Milli: {{latestMilli}}ms<br>
            <button ng-click='clearInput()'>Clear input</button><br>
            <span class='morse_input' style='word-wrap: break-word'>{{input}}</span> 
            <span class='morse_input' style='color: #555'>{{signal}}</span>
            <span class='cursor' ng-class='{blinking: !isPussing}' ng-show='enableCursor'>|</span>
            <ul ng-show="isDebugMode">
                <li ng-repeat="debugLog in debugLogs track by $index">{{debugLog}}</li>
            <ul>
        </div>
    </body>
</html>
