<html ng-app="morseApp">
    <head>
        <title>Cheap Morse</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-touch.js"></script> -->
        <!-- (from: https://stackoverflow.com/a/10614533/2885946) -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    </head>
    
    <style>
        .morse_button{
            width: 100%;
            height: 100px;
            display: block;
            background: #ccc;
            font-size: 3em;
            /* (from: https://stackoverflow.com/a/923804/2885946) */
            -webkit-user-select: none; 
        }

        .morse_input{
            font-weight: bold;
            font-size: 50px;
        }

        /* (from: http://www.htmq.com/css3/box-shadow.shtml) */
        .box_shadow {
            box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
        }	
    </style>
    <script>
            // (from: https://qiita.com/Evolutor_web/items/655c6402aece800fd081)
            const getDevice = (function(){
                var ua = navigator.userAgent;
                if(ua.indexOf('iPhone') > 0 || ua.indexOf('iPod') > 0 || ua.indexOf('Android') > 0 && ua.indexOf('Mobile') > 0){
                    return 'sp';
                }else if(ua.indexOf('iPad') > 0 || ua.indexOf('Android') > 0){
                    return 'tab';
                }else{
                    return 'other';
                }
            })();

            angular.module('morseApp', [])
                .controller('morseCtrl', ['$scope', '$timeout', ($scope, $timeout) => {
                    $scope.shortThreshold  = 120;
                    $scope.longThreshold   = 1000;
                    $scope.letterThreshold = 500;
                    $scope.wordThreshold   = 1000;
                    $scope.signal = "";
                    $scope.input  = "";
                    $scope.isPussing = false;
                    $scope.shortMilliLogs = [];
                    $scope.longMilliLogs = [];
                    $scope.latestMilli = null;
                    $scope.isTouchMode = getDevice != "other";
                    $scope.isDebugMode = false;
                    $scope.debugLogs = [];

                    let letterTimeoutId = null;
                    let wordTimeoutId   = null;
                    
                    let startDate = new Date();

                    const signalToChar = {
                        ".-"     : "a",
                        "-..."   : "b",
                        "-.-."   : "c",
                        "-.."    : "d",
                        "."      : "e",
                        "..-."   : "f",
                        "--."    : "g",
                        "...."   : "h",
                        ".."     : "i",
                        ".---"   : "j",
                        "-.-"    : "k",
                        ".-.."   : "l",
                        "--"     : "m",
                        "-."     : "n",
                        "---"    : "o",
                        ".--."   : "p",
                        "--.-"   : "q",
                        ".-."    : "r",
                        "..."    : "s",
                        "-"      : "t",
                        "..-"    : "u",
                        "...-"   : "v",
                        ".--"    : "w",
                        "-..-"   : "x",
                        "-.--"   : "y",
                        "--.."   : "z",
                        "-----"  : "0",
                        ".----"  : "1",
                        "..---"  : "2",
                        "...--"  : "3",
                        "....-"  : "4",
                        "....."  : "5",
                        "-...."  : "6",
                        "--..."  : "7",
                        "---.."  : "8",
                        "----."  : "9",
                        ".-.-.-" : ".",
                        "--..--" : ",",
                        "---..." : ":",
                        "..--.." : "?",
                        ".----." : "'",
                        "-....-" : "-",
                        "-..-."  : "/",
                        "-.--.-" : "(",
                        //            "-.--.-" : ")",
                        ".-..-." : "\"",
                        ".--.-." : "@",
                        "-...-"  : "=",
                        "-.-.--" : "!"
                    }
                    
                    $scope.mouseup = (e) => {
                        console.log('mouse up');
                        $scope.debugLogs.push(`mouse up: ${e}`);
                        
                        $scope.isPussing = false;
                        const passedMilli = new Date() - startDate;
                        console.log(passedMilli);

                        // Update the latest milli
                        $scope.latestMilli = passedMilli;

                        if (passedMilli <= $scope.shortThreshold){
                            $scope.signal += '.';
                            $scope.shortMilliLogs.push(passedMilli);
                        } else if (passedMilli <= $scope.longThreshold) {
                            $scope.signal += '-';
                            $scope.longMilliLogs.push(passedMilli);
                        }

                        letterTimeoutId = $timeout(() => {
                            console.log('WORD END!');
                            $scope.debugLogs.push("world end");                        
                            if ($scope.signal in signalToChar){
                                $scope.input += signalToChar[$scope.signal];
                            } else if ($scope.signal != ""){                            
                                $scope.input += "[?]"
                            }
                            
                            letterTimeoutId = null;
                            $scope.signal = "";

                            wordTimeoutId = $timeout(() => {
                                 // Add space
                                $scope.input += " ";
                                wordTimeoutId = null;
                            }, $scope.wordThreshold)

                        }, $scope.letterThreshold)

                    };

                    $scope.mousedown = (e) => {
                        console.log(`mouse down: ${e}`);
                        $scope.debugLogs.push(`mouse down: ${e}`);
                        startDate = new Date();
                        $scope.isPussing = true;

                        if (letterTimeoutId != null) {
                            $timeout.cancel(letterTimeoutId)
                        }

                        if (wordTimeoutId != null) {
                            $timeout.cancel(wordTimeoutId)
                        }

                    };

                    // $scope.morseSignal = () => {
                    //     return $scope.signals.join('')
                    // };

                    $scope.clearInput = () => {
                        $scope.input = "";
                    }

                    $scope.shortMilliAvg = () => {
                        const len = $scope.shortMilliLogs.length;
                        return $scope.shortMilliLogs.reduce(function(s, e){return s + e}, 0) / len;
                    }

                    $scope.longMilliAvg = () => {
                        const len = $scope.longMilliLogs.length;
                        return $scope.longMilliLogs.reduce(function(s, e){return s + e}, 0) / len;
                    }
                }])
                // (from: https://st40.xyz/one-run/article/116/)
                .directive('myTouchstart', [function() {
                    return function(scope, element, attr) {
                
                        element.on('touchstart', function(event) {
                            scope.$apply(function() { 
                                scope.$eval(attr.myTouchstart); 
                            });
                        });
                    };
                }]).directive('myTouchend', [function() {
                    return function(scope, element, attr) {
                
                        element.on('touchend', function(event) {
                            scope.$apply(function() { 
                                scope.$eval(attr.myTouchend); 
                            });
                        });
                    };
                }]);
            </script>

    <body>
        <div ng-controller="morseCtrl">
            <a ng-if='isTouchMode' my-touchstart='mousedown($event)' my-touchend='mouseup($event)' class='morse_button' ng-class="{box_shadow: !isPussing}"></a><br>
            <a ng-if='!isTouchMode' ng-mousedown='mousedown($event)' ng-mouseup='mouseup($event)' class='morse_button' ng-class="{box_shadow: !isPussing}"></a><br>
            Short threshold:<input type="number" ng-model="shortThreshold"><br>
            Long threshold:<input type="number" ng-model="longThreshold"><br>
            Letter threshold:<input type="number" ng-model="letterThreshold"><br>
            Word threshold:<input type="number" ng-model="wordThreshold"><br>
            Touch mode: <input type="checkbox" ng-model="isTouchMode"><br>            
            Debug mode: <input type="checkbox" ng-model="isDebugMode"><br>
            Average short: {{shortMilliAvg()}}ms<br>
            Average long: {{longMilliAvg()}}ms<br>            
            Latest Milli: {{latestMilli}}ms<br>
            <button ng-click='clearInput()'>Clear input</button><br>
            <span class='morse_input' style='word-wrap: break-word'>{{input}}</span> 
            <span class='morse_input' style='color: #555'>{{signal}}</span>
            <ul ng-show="isDebugMode">
                <li ng-repeat="debugLog in debugLogs track by $index">{{debugLog}}</li>
            <ul>
        </div>
    </body>
</html>
