.morse_button{
    width: 100%;
    height: 100px;
    display: block;
    background: #ccc;
    font-size: 3em;
    /* (from: https://stackoverflow.com/a/923804/2885946) */
    -webkit-user-select: none; 
}

.morse_input{
    font-weight: bold;
    font-size: 50px;
}

/* (from: http://www.htmq.com/css3/box-shadow.shtml) */
.box_shadow {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}